<!DOCTYPE html>
<html>

<head>
        <title>404</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
    {{>header}}
    <br>
    {{errorMessage}}
    <br>
    </div>
    
    {{>footer}}
</body>
</html>